lst/
obj/
bin/
build/
tmp/
*.bin
.kdev4
*.log
*.dep
*.uvgui.*
*.uvgui_*.bak
*.uvguix.*
*.uvguix_*.bak
*_uvopt.bak
*_uvoptx.bak
*_uvproj.bak
*_uvprojx.bak
*.ctx
*.dbi
*.xdb
*.svn
*.pbxproj
*.cogui
*.comarker
.directory
launch.json
.cmaketools.json
*.axf
*.bak
*.bat
*.bin
*.cogui
*.comarker
*.crf
*.crun
*.d
*.dbgdt
*.dep
*.dni
*.elf
*.elf.xcodeproj
*.ewt
*.hex
*.htm
*.i
*.iex
*.lnp
*.log
*.lst
*.map
*.o
*.orig
*.out
*.patch
*.sct
*.sim
*.tmp
*.tmp.c
*.uvgui.*
*.uvguix.*
*.uvproj.*
*.wsdt
*.wspos
*.xml
Debug
files
logs
lst
obj
patch
settings
